<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:browser_title) ? yield(:browser_title) : "Hybrid App Ios" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="turbo:authenticated" content="<%= user_signed_in? %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal">
  <% unless turbo? %>
    <nav class="d-block">
     <%= render partial: "layouts/navigation" %>
    </nav>
  <% end %>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
  </body>
</html>
